<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthShareUsageDescription</key>
	<string>ForcingFunction reads your workout sessions to show them on your calendar and timeline.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>ForcingFunction does not write to Health. This permission is required by iOS for HealthKit access.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.forcingfunction</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>forcingfunction</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
